.tableDiv {
    margin: 0 auto;
    width: 80%;
    margin-top: 2%;
    max-height: 80vh;
    overflow: auto;
}

.calendar__holder {
    margin: auto;
    justify-content: center;
    margin-top: 4vh;
}

.page__holder {
    display: flex;
}