.actionBtn {
    cursor: pointer;
}

.form__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8vh;
}

.form__input {
    margin: 10px;
    border-radius: 1vw;
    padding: 20px 30px;
    transition: 0.2s;
    box-shadow: #b3cae7;
    min-width: 260px;
    width: 20%;
}

.form__input:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

/* .button__submit {
    background-color: #b3cae7;
    color: white;
    border: none;
    cursor: pointer;
    height: 2vh;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button__submit:hover {
    background-color: #8ca2c2;
  }

.select__input {
    transition: 0.2s;
    box-shadow: #8ca2c2;
    border-radius: 1vw;
}
 */
 .button__submit {
    display: inline-block;
    border-radius: 4px;
    background-color: #b3cae7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button__submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button__submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button__submit:hover span {
    padding-right: 25px;
    background-color: #b3cae7;
  }
  
  .button__submit:hover span:after {
    opacity: 1;
    right: 0;
  }