.actionBtn {
    cursor: pointer;
}

.form__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8vh;
    border: 2px solid #b3cae7;
}

.form__input {
    margin: 10px;
    border-radius: 1vw;
    padding: 20px 30px;
    transition: 0.2s;
    box-shadow: #b3cae7;
    min-width: 260px;
    width: 20%;
    border: 2px solid #b3cae7;
    

}


.form__input:focus {
    box-shadow: #b3cae7;
    outline: none;
    border: 3px solid #555;
    
}



 .button__submit {
    display: inline-block;
    border-radius: 4px;
    background-color: #b3cae7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 10px 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  
  
  .button__submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button__submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button__submit:hover span {
    padding-right: 25px;
    background-color: #b3cae7;
   
  }
  
  .button__submit:hover span:after {
    opacity: 1;
    right: 0;
  }

  .spinnerHolder {
    width: 100vw;
    margin: auto;
    margin-top: auto;
    justify-content: center;
    text-align: center;
  }