.navbarLinks {
    text-decoration: none;
    margin-right: 2vw;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    color: #f9f4f4;
}

.active {
    color: #39382b;
    text-decoration: none;
    margin-right: 2vw;
    font-size: 2.1vh;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    background-color: #8ca2c2;
}


.pending {
    text-decoration: none;
    margin-right: 2vw;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    color: #e7dfdf;
    background-color: aquamarine;
}

.logoutBtn {
    display: -webkit-box;
    margin-left: auto;
}

.fullWidthNav {
    width: 100%;
    align-items: left;
    background-color: var(--colorPrimaryActive);
    height: 7vh;
    padding: 0 2vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

.active:hover {
   
}