.tableDiv {
    margin: 0 auto;
    width: 80%;
    margin-top: 2%;
    max-height: 80vh;
    overflow: auto;
}

.calendar__holder {
    width: 80%;
    margin: auto;
    margin-top: 4vh;
}


.form__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8vh;
    
}
.form__input {
    margin: 10px;
    border-radius: 1vw;
    padding: 20px 30px;
    transition: 0.2s;
    box-shadow: #b3cae7;
    min-width: 260px;
    width: 20%;
    border: 2px solid #b3cae7;
    

}